.provider-list-card {
  width: 100%;
  padding: 20px 0px 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
  min-height: 145px;
  display: flex;
}

.shadowDiv {
  background-color: transparent;
}

.provider-left-block {
  margin: 0px 25px 0px 15px;
}

.textAlignCen {
  text-align: center;
}

.provider-image-block {
  width: 240px;
  height: 135px;
  line-height: initial !important;
  /*border: 1px solid #cccccc;*/
  /*border-radius: 60%;*/
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-bottom: 8px;
  display: block;
}

.provider-image-block:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container a {
  text-decoration: none;
}

.provider-img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  /*border-radius: 50%;*/
  /*border: 2px solid #cccccc;*/
}

.lazyImage {
  transform: translateZ(0);
}

.sponsFeaturedTag {
  top: 3px;
  right: 3px;
  position: absolute;
  border-radius: 100px;
  background-color: rgba(20, 20, 20, 0.5);
  /*font-size: 8px;*/
  /*font-weight: 500;*/
  letter-spacing: 0.6px;
  color: white;
  /*text-transform: uppercase;*/
  padding: 4px 8px 3px;
  text-align: center;
  display: inline-block;
}

@media only screen and (max-width: 950px) {
  .provider-left-block {
    /*width: 80%;*/
    margin: 0 3%;
  }
}

@media only screen and (max-width: 950px) {
  .provider-image-block {
    width: 160px;
    height: 90px;
  }
}

@media only screen and (max-width: 500px) {
  .provider-image-block {
    display: none;
  }
}


/*@media only screen and (max-width: 950px) {*/
/*  .provider-image-block .provider-img {*/
/*    width: auto;*/
/*    height: auto;*/
/*    !*max-height: 80px;*!*/
/*  }*/
/*}*/

/* .provider-list-details {
  font-weight: 600;
} */

.provider-list-details {
  width: 100%;
  flex: 1;
}

.pos-rel {
  position: relative;
}

.details-row {
  color: #666;
  font-size: 14px;
  margin-bottom: 7px;
  display: block;
}

.details-row a {
  /*color: inherit;*/
}

.provider-name {
  /*width: 260px;*/
}

.provider-name {
  /*width: 220px;*/
  /*color: #333;*/
  /*padding-right: 20px;*/
}

.ellipsis_line {
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
}

.fontSize16 {
  font-size: 16px !important;
}

.loud {
  font-weight: 600;
}

.provider-info-icon {
  min-width: 20px;
  margin-right: 5px;
  /*display: inline-flex;*/
  color: #888;
}

.error-text {
  font-size: 12px;
  color: red;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.fontSize22 {
  /*font-size: 20px !important;*/
}

.provider-list-details .descPart {
  width: 95%;
  line-height: 22px;
}

.provider-right-block {
  position: absolute;
  right: 15px;
  top: 20px;
}

.textAlignRit {
  text-align: right;
}

@media (max-width: 576px) {
  .provider-right-block {
    position: static;
    text-align: left;
  }
}

.tags {
  overflow: hidden;
}

.tag {
  float: left;
  padding: 1px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: solid 1px #6f6f6f;
  border-radius: 4px;
  min-width: 60px;
  text-align: center;
  color: black;
}

.tags2 {
  display: inline-flex;
}

.tag2 {
  padding: 1px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: solid 1px #6f6f6f;
  border-radius: 4px;
  min-width: 60px;
  text-align: center;
}

.tag:hover {
  cursor: default;
  background-color: #d4d3d3;
}

.tag2:hover {
  background-color: #d4d3d3;
}

.tech {
  font-weight: bold;
  font-size: 0.85em;
  /*background-color: #20c997;*/
  /*background-color: #11bba7;*/
  background-color: #14af9d;
  opacity: 0.9;
  display: inline-block;

  color: #fff;
  padding: 2px 8px;
  margin-right: 4px;
  border-radius: 2em;
}

.tech:hover {
  cursor: default;
  opacity: 1;
}

.project-left {
  text-align: left;
  margin-top: -5px;
  margin-bottom: 10px;
  display: flex;
}

.project-left button {
  margin-right: 5px;
  min-width: 60px;
  min-height: 28px;
}

@media (min-width: 768px) {
  .project-left {
    margin-top: 5px;
    text-align: right;
    display: initial;
  }

  .project-left button {
    margin-right: 0;
    margin-bottom: 5px;
  }
}