.App {
  font-family: "Montserrat", serif !important;
  text-align: center;
  /* font-weight: Bold; */
}

.hide-span-mobile span {
  display: none;
}

hidden-mobile {
  display: none;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 500px;
}

.navbar {
  position: relative;
  padding: 0.5rem 1rem;
  /* min-height: 50px; */
}

.gradient {
  /* background: linear-gradient(120deg, #7f70f5, #0ea0ff); */
  /* background: linear-gradient(120deg, #00df70, #0ea0ff); */
  /* background: linear-gradient(60deg, #b60d6f, #0ea0ff); */
  /* background: linear-gradient(-60deg, #f857a6, #ff5858); */
  /* background: linear-gradient(120deg, #00f260, #0575e6); */
  /* background: linear-gradient(120deg, #7b4397 0%, #b5238a 59%, #dc2430 110%); */
  background: linear-gradient(120deg, #65377c 0%, #961d71 59%, #b81e28 120%);
  color: #fff;
}

@media (min-width: 576px) {
  .hide-span-mobile span {
    display: inline;
  }

  hidden-mobile {
    display: inherit;
  }
}

/* button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
} */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.link {
  cursor: pointer;
  color: #007bff;
}

.link:hover {
  text-decoration: underline;
  color: #0056b3;
}

.btn-xxs {
  border: none;
  box-shadow: none !important;
  outline: none !important;
}